include src/shwrap/transfer/_scripts/darwin/send.sh
include src/shwrap/transfer/_scripts/darwin/receive.sh
include src/shwrap/transfer/_scripts/linux/send.sh
include src/shwrap/transfer/_scripts/linux/receive.sh
include src/shwrap/transfer/aws/_scripts/linux/*.sh
