include src/sshtools/transfer/scripts/darwin/send.sh
include src/sshtools/transfer/scripts/darwin/receive.sh
include src/sshtools/transfer/scripts/linux/send.sh
include src/sshtools/transfer/scripts/linux/receive.sh
include src/sshtools/transfer/aws/scripts/*.sh
include src/sshtools/plotting/scripts/*.sh
